.modal.fade(
  tabindex="-1"
  role="dialog"
  aria-labelledby="imagePasteLabel"
  aria-hidden="true"
)
  .modal-dialog.modal-lg(role="document")
    .modal-content
      form(data-on-submit= "submitForm")
        .modal-header
          h5.modal-title Config
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p File will be created in 
            pre= decodeURI(uri.dir)
          p
            .form-group
              label(for="path") New File Path
              input.form-control(
                name= "path"
                type= "text"
                placeholder= "new-file.md"
                value= path
                data-on-keypress= "keypressPath"
              )
          .alert-container
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close
          button#create.btn.btn-primary.loadable(
            type= "button"
            data-on-click= "clickCreate"
          ) Create
